/*Font-face-------------------------------------------------*/
@font-face {
	font-family: 'RobotoRegular';
	src: url(../fonts/roboto-regular-webfont.eot),
		 url(../fonts/roboto-regular-webfont.ttf),
		 url(../fonts/roboto-regular-webfont.woff);
}


@font-face {
	font-family: 'RobotoBold';
	src: url(../fonts/roboto-bold-webfont.eot),
		 url(../fonts/roboto-bold-webfont.ttf),
		 url(../fonts/roboto-bold-webfont.woff);
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url(../fonts/roboto-lightitalic-webfont.eot),
		 url(../fonts/roboto-lightitalic-webfont.ttf),
		 url(../fonts/roboto-lightitalic-webfont.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	height: 100%;
}

:root {
	--base: #000033;
}

body {
	margin: 0px;
	padding: 0px;
	color: #fff;
	min-height: 100%;
	font: 1em/1.5 'RobotoRegular', Arial, sans-serif;
}

body,
html {
	overflow-x: hidden;
}

header {
	margin-bottom: 60px;
	overflow: auto;
	height: 140px;
	transition: background-color 2s, height 2s;
	position: fixed;
	width: 100%;
}


header img {
	width: 81px;
    float: left;
    margin: 10px 0px 0px 107px;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--base);
    height: 37px;
    overflow: auto;
    padding: 0px 50px;
    padding: 14px 50px 0px 50px;
}

.footer-span {
	float: left;
	color: #70DBDB;
	padding-right: 10px;
}


.first-background {

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(var(--base), transparent 219%),
    #fff url('../img/computer.jpg');
    text-align: center;
}



#first-span {
	    border: white solid 5px;
	    font-size: 5em;
	    padding: 15px 30px 15px 30px;
	    display: inline-block;
	    margin: 200px 0px 0px 0px;
	    font-family: 'RobotoBold';
}

#second-span {
	margin-top: 52px;
    display: block;
    font-size: 24px;
    font-family: 'RobotoLightItalic';
}

.borderslider {
	background-color: #fff;
	width: 82px;
    height: 5px;
    margin: 30px auto 0px;
}

#first-button {
	margin-top: 30px;
	text-transform: uppercase;
}

.first-button-style {
	text-decoration: none;
	color: #fff;
	border: #fff solid 1px;
	font-size: 13px;
	padding: 12px 45px 12px 45px;
}

.nav {
	list-style: none;

 }

.nav-button {
	text-decoration: none;
	display: inline;
	float: right;
	padding: 0px 45px 0px 0px;
	margin-top: 24px;
	color: #fff;
	font-family: 'RobotoRegular';
}

.fab {
	text-decoration: none;
	color: #fff;
}

/*Portfolio styles-------------------------------------------*/
.second-header {
	background-color: var(--base);
	height: 260px;
	text-align: center;
	padding-top: 171px;
	font-family: 'RobotoLightItalic';
	color: #70DBDB;
	font-size: 30px;
	margin-bottom: 48px;


}

.header {
	background-color: rgba(0,0,51, 0.8);
	height: 120px;
	position: fixed;
	transition: background-color 1s, height 1s;
	z-index:1
}


.row {
  	display: flex;
  	flex-wrap: wrap;
	 width: 90%;
 	 margin: 0 auto;
}

.column {
	flex: 50%;
  	max-width: 50%;
  	padding: 0 24px;
  	  white-space: nowrap;
}


.img_wrap {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 48px;
  position: relative;
}

.img_wrap img {
  	max-width: 100%;
}

.img_description_layer {
  position: absolute;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(112,219,219, 0.6);
  color: #fff;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .5s, visibility 1s;
}

.img_description {
	 font-family: 'RobotoRegular';
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    background-color: rgba(0,0,51, 1);
    border-radius: 10px;
    padding: 6px 12px;
}





/*About Me Styles-------------------------------------------*/


#main-about {
	height: 100vh;
}


.about-container {
	width: 70%;
	padding: 70px 0px 50px 0px;
	color: var(--base);
	text-align: center;
	margin: 0 auto;
}

.hr-2 {
	margin: 30px auto;
	width: 70%;
	height: 5px;
	color: var(--base);
	background-color: var(--base);
	border: var(--base) solid 2px;
}

#h1-about {


}

#p-about {
	margin-top: 30px;
	font-size: 20px;
	
}

#span-about {
	font-size: 25px;
	font-weight: bold;
}

.about-button {
	font-size: 40px;
	color: var(--base);
	padding: 0px 4px 18px;
}

/*Contact Styles-------------------------------------------*/
#p-contact {
	margin-top: 30px;
	font-size: 20px;
	padding: 0 300px;
}






/*Pseudo Classes---------------------------------------------*/


header:hover {
	background-color: var(--base);
	height: 100px;
}

.first-button-style:hover {
		color: #70DBDB;
		border-color: #70DBDB;

}

.fab:hover {
	color: #70DBDB;
}


.about-button:hover {
	color: #70DBDB;
}

footer span:hover {
	text-decoration: underline;
}

.nav-button:hover {
	color: #70DBDB;
}

.img_description_layer:hover {
	visibility: visible;
  	opacity: 1;'   
  }
